*.scrivx
**/Settings/recents.txt
**/Settings/ui.ini
**/Settings/ui-common.xml
**/Files/styles.xml
**/Files/version.txt
cgx_02_storydev_v02.scriv/Files/binder.backup
cgx_02_storydev_v02.scriv/Files/user.lock
cgx_02_storydev_v02.scriv/Files/binder.autosave
cgx_02_storydev_v02.scriv/Files/Data/docs.checksum
cgx_02_storydev_v02.scriv/Files/search.indexes
cgx_02_storydev_v02.scriv/Files/writing.history
